parameters:
    scanDirectories:
        - %rootDir%/../../../src/app
        - %rootDir%/../../../src/lib
        - %rootDir%/../../../tests
    bootstrapFiles:
        - %rootDir%/../../../tests/Unit/Bootstrap.php

    ignoreErrors:
        - '#^Class MongoDB\\BSON\\UTCDateTime constructor invoked with 0 parameters, 1 required\.#'
        - '#^Class MongoDB\\BSON\\Binary constructor invoked with 1 parameter, 2 required\.#'
        - '#Balloon\\Testsuite\\Unit\\Mock\\Identity\:\:\_\_construct\(\) does not call parent constructor from Micro\\Auth\\Identity\.#'
        - '#Call to an undefined method Balloon\\Filesystem\\Node\\AbstractNode#'
        - '#Function apc_exists not found#'
        - '#Function apc_store not found#'
        - '#Function apc_fetch not found#'
        - '#Method Balloon\\App\\Api\\v1\\Controller\:\:getNodes\(\) should return Generator but return statement is missing.#'
        - '#Method Balloon\\App\\Api\\v1\\File\:\:_put\(\) should return Micro\\Http\\Response but return statement is missing.#'
        - '#Method Balloon\\App\\Api\\v2\\Files::_put\(\) should return Micro\\Http\\Response but return statement is missing.#'
        - '#Method Balloon\\App\\Webauthn\\CredentialRepository::has\(\) should return bool but return statement is missing.#'
        - '#Method Balloon\\App\\Webauthn\\CredentialRepository::get\(\) should return Webauthn\\AttestedCredentialData but return statement is missing.#'
        - '#Method Balloon\\App\\Webauthn\\CredentialRepository::getUserHandleFor\(\) should return string but return statement is missing.#'
        - '#Method Balloon\\App\\Webauthn\\CredentialRepository::getCounterFor\(\) should return int but return statement is missing.#'

    reportUnmatchedIgnoredErrors: false
includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/config.level1.neon
