parameters:
    scanDirectories:
        - %rootDir%/../../../src/app
        - %rootDir%/../../../src/lib
        - %rootDir%/../../../tests
    bootstrapFiles:
        - %rootDir%/../../../tests/Unit/Bootstrap.php

    ignoreErrors:
        - '#Call to an undefined method Balloon\\Filesystem\\Node\\AbstractNode#'
    excludePaths:
        - src/app/Balloon.App.Api/v1/File.php
        - src/app/Balloon.App.Api/v2/Files.php
        - src/app/Balloon.App.Webauthn/CredentialRepository.php

    reportUnmatchedIgnoredErrors: false
includes:
    - phar://vendor/phpstan/phpstan/phpstan.phar/conf/config.level1.neon
