
.fs-icon {
	width: 24px;
	height: 24px;
	background-image: url(../img/icons.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	opacity: 0.72;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

svg.fs-icon {
	width: 24px;
	height: 24px;
	opacity: 0.72;
	background-image: none;
}

.fs-icon:hover {
	opacity: 0.8;
}


/* DIRECTION */

.up {}

.left {
	-ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.down {
	-ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right {
	-ms-transform: rotate(270);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}


/* COLOR */

.sec {
	opacity: 0.32;
}

.sec:hover {
	opacity: 0.4;
}

.inv {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	opacity: 0.84;
}

.inv:hover {
	opacity: 0.92;
}

.disabled, .disabled:hover {
	opacity: 0.24;
}

[class*=k-i-file-] {
	opacity: 1;
}

[class*=k-i-file-]:hover {
	opacity: 1;
}

/* XLINK only */
.warning {
	opacity: 1;
	fill: #E59900;
}

.error {
	opacity: 1;
	fill: #E51717;
}

.success {
	opacity: 1;
	fill: #47991F;
}


/* ICONS Standard */
.fs-i-add 		        	{background-position: 0 0;}
.fs-i-alert 		     		{background-position: 0 calc(1 * -24px);}
.fs-i-book 		     		{background-position: 0 calc(2 * -24px);}
.fs-i-bookmark 	   		{background-position: 0 calc(3 * -24px);}
.fs-i-calendar      		{background-position: 0 calc(4 * -24px);}
.fs-i-chart 	      		{background-position: 0 calc(5 * -24px);}
.fs-i-chat 	       		{background-position: 0 calc(6 * -24px);}
.fs-i-check 						{background-position: 0 calc(7 * -24px);}
.fs-i-checkmark 				{background-position: 0 calc(8 * -24px);}
.fs-i-class-book				{background-position: 0 calc(9 * -24px);}
.fs-i-class-book-flip	{background-position: 0 calc(10 * -24px);}
.fs-i-clock						{background-position: 0 calc(11 * -24px);}
.fs-i-clear						{background-position: 0 calc(12 * -24px);}
.fs-i-close-panel			{background-position: 0 calc(13 * -24px);}
.fs-i-cmd							{background-position: 0 calc(14 * -24px);}
.fs-i-cog							{background-position: 0 calc(15 * -24px);}
.fs-i-columns		    	{background-position: 0 calc(16 * -24px);}
.fs-i-connector		   	{background-position: 0 calc(17 * -24px);}
.fs-i-copy		    			{background-position: 0 calc(18 * -24px);}
.fs-i-crop		    			{background-position: 0 calc(19 * -24px);}
.fs-i-cut		    			{background-position: 0 calc(20 * -24px);}
.fs-i-dashboard		   	{background-position: 0 calc(21 * -24px);}
.fs-i-day		    			{background-position: 0 calc(22 * -24px);}
.fs-i-deny		    			{background-position: 0 calc(23 * -24px);}
.fs-i-desktop		    	{background-position: 0 calc(24 * -24px);}
.fs-i-device			    	{background-position: 0 calc(25 * -24px);}
.fs-i-dialogue					{background-position: 0 calc(26 * -24px);}
.fs-i-dimension				{background-position: 0 calc(27 * -24px);}
.fs-i-download					{background-position: 0 calc(28 * -24px);}
.fs-i-drag							{background-position: 0 calc(29 * -24px);}
.fs-i-drag-active			{background-position: 0 calc(30 * -24px);}
.fs-i-duplicate				{background-position: 0 calc(31 * -24px);}
.fs-i-emoticon					{background-position: 0 calc(32 * -24px);}
.fs-i-empty						{background-position: 0 calc(33 * -24px);}
.fs-i-event-available	{background-position: 0 calc(34 * -24px);}
.fs-i-error						{background-position: 0 calc(35 * -24px);}
.fs-i-excused					{background-position: 0 calc(36 * -24px);}
.fs-i-exit							{background-position: 0 calc(37 * -24px);}
.fs-i-favorite		    	{background-position: 0 calc(38 * -24px);}
.fs-i-logout		    		{background-position: 0 calc(39 * -24px);}
.fs-i-filter		    		{background-position: 0 calc(40 * -24px);}
.fs-i-flag		    			{background-position: 0 calc(41 * -24px);}
.fs-i-full		    			{background-position: 0 calc(42 * -24px);}
.fs-i-fullscreen		   	{background-position: 0 calc(43 * -24px);}
.fs-i-funnel	    			{background-position: 0 calc(44 * -24px);}
.fs-i-grid	    				{background-position: 0 calc(45 * -24px);}
.fs-i-group	    			{background-position: 0 calc(46 * -24px);}
.fs-i-group-add	    	{background-position: 0 calc(47 * -24px);}
.fs-i-half		    			{background-position: 0 calc(48 * -24px);}
.fs-i-help		    			{background-position: 0 calc(49 * -24px);}
.fs-i-home		    			{background-position: 0 calc(50 * -24px);}
.fs-i-hourglass		   	{background-position: 0 calc(51 * -24px);}
.fs-i-info		   				{background-position: 0 calc(52 * -24px);}
.fs-i-insert-file			{background-position: 0 calc(53 * -24px);}
.fs-i-insert-m					{background-position: 0 calc(54 * -24px);}
.fs-i-insert-n					{background-position: 0 calc(55 * -24px);}
.fs-i-insert-s					{background-position: 0 calc(56 * -24px);}
.fs-i-interruption			{background-position: 0 calc(57 * -24px);}
.fs-i-kpi							{background-position: 0 calc(58 * -24px);}
.fs-i-language					{background-position: 0 calc(59 * -24px);}
.fs-i-laptop						{background-position: 0 calc(60 * -24px);}
.fs-i-lock							{background-position: 0 calc(61 * -24px);}
.fs-i-mail							{background-position: 0 calc(62 * -24px);}
.fs-i-map							{background-position: 0 calc(63 * -24px);}
.fs-i-maximize		    	{background-position: 0 calc(64 * -24px);}
.fs-i-minimize		    	{background-position: 0 calc(65 * -24px);}
.fs-i-minus			    	{background-position: 0 calc(66 * -24px);}
.fs-i-note			    		{background-position: 0 calc(67 * -24px);}
.fs-i-note-fill				{background-position: 0 calc(68 * -24px);}
.fs-i-open-in-browser 	{background-position: 0 calc(69 * -24px);}
.fs-i-open-in-new 			{background-position: 0 calc(70 * -24px);}
.fs-i-open-panel 			{background-position: 0 calc(71 * -24px);}
.fs-i-paste 						{background-position: 0 calc(72 * -24px);}
.fs-i-pause 						{background-position: 0 calc(73 * -24px);}
.fs-i-pencil 					{background-position: 0 calc(74 * -24px);}
.fs-i-user 					{background-position: 0 calc(75 * -24px);}
.fs-i-user-add				{background-position: 0 calc(76 * -24px);}
.fs-i-pin							{background-position: 0 calc(77 * -24px);}
.fs-i-place						{background-position: 0 calc(78 * -24px);}
.fs-i-play							{background-position: 0 calc(79 * -24px);}
.fs-i-plus							{background-position: 0 calc(80 * -24px);}
.fs-i-preview					{background-position: 0 calc(81 * -24px);}
.fs-i-print						{background-position: 0 calc(82 * -24px);}
.fs-i-quarter		    	{background-position: 0 calc(83 * -24px);}
.fs-i-redo		    			{background-position: 0 calc(84 * -24px);}
.fs-i-refresh		    	{background-position: 0 calc(85 * -24px);}
.fs-i-remove		    		{background-position: 0 calc(86 * -24px);}
.fs-i-restore		    	{background-position: 0 calc(87 * -24px);}
.fs-i-rotate-ccw		   	{background-position: 0 calc(88 * -24px);}
.fs-i-rotate-cw		   	{background-position: 0 calc(89 * -24px);}
.fs-i-rows			    		{background-position: 0 calc(90 * -24px);}
.fs-i-rss-feed					{background-position: 0 calc(91 * -24px);}
.fs-i-search						{background-position: 0 calc(92 * -24px);}
.fs-i-seek-e						{background-position: 0 calc(93 * -24px);}
.fs-i-seek-n						{background-position: 0 calc(94 * -24px);}
.fs-i-seek-s						{background-position: 0 calc(95 * -24px);}
.fs-i-seek-w						{background-position: 0 calc(96 * -24px);}
.fs-i-settings					{background-position: 0 calc(97 * -24px);}
.fs-i-shuffle					{background-position: 0 calc(98 * -24px);}
.fs-i-sort-asc					{background-position: 0 calc(99 * -24px);}
.fs-i-sort-desc				{background-position: 0 calc(100 * -24px);}
.fs-i-sum							{background-position: 0 calc(101 * -24px);}
.fs-i-swap-horiz				{background-position: 0 calc(102 * -24px);}
.fs-i-swap-vert				{background-position: 0 calc(103 * -24px);}
.fs-i-sync							{background-position: 0 calc(104 * -24px);}
.fs-i-tag							{background-position: 0 calc(105 * -24px);}
.fs-i-trash						{background-position: 0 calc(106 * -24px);}
.fs-i-three-quarters		{background-position: 0 calc(107 * -24px);}
.fs-i-undo							{background-position: 0 calc(108 * -24px);}
.fs-i-unexcused				{background-position: 0 calc(109 * -24px);}
.fs-i-unfold						{background-position: 0 calc(110 * -24px);}
.fs-i-unlock						{background-position: 0 calc(111 * -24px);}
.fs-i-upload						{background-position: 0 calc(112 * -24px);}
.fs-i-volume-mute			{background-position: 0 calc(113 * -24px);}
.fs-i-volume-up				{background-position: 0 calc(114 * -24px);}
.fs-i-warning					{background-position: 0 calc(115 * -24px);}
.fs-i-warning-fill			{background-position: 0 calc(116 * -24px);}
.fs-i-close						{background-position: 0 calc(117 * -24px);}
.fs-i-zoom-in					{background-position: 0 calc(118 * -24px);}
.fs-i-zoom-out					{background-position: 0 calc(119 * -24px);}

/* ICONS Navigation */
.fs-i-apps							{background-position: 0 calc(120 * -24px);}
.fs-i-arrow-e					{background-position: 0 calc(121 * -24px);}
.fs-i-arrow-n					{background-position: 0 calc(122 * -24px);}
.fs-i-arrow-s					{background-position: 0 calc(123 * -24px);}
.fs-i-arrow-w					{background-position: 0 calc(124 * -24px);}
.fs-i-arrowhead-e			{background-position: 0 calc(125 * -24px);}
.fs-i-arrowhead-n			{background-position: 0 calc(126 * -24px);}
.fs-i-arrowhead-s			{background-position: 0 calc(127 * -24px);}
.fs-i-arrowhead-w			{background-position: 0 calc(128 * -24px);}
.fs-i-collapse					{background-position: 0 calc(129 * -24px);}
.fs-i-collapse-horiz		{background-position: 0 calc(130 * -24px);}
.fs-i-menu							{background-position: 0 calc(131 * -24px);}
.fs-i-more							{background-position: 0 calc(132 * -24px);}

/* ICONS Editor */
.fs-i-back-color				{background-position: 0 calc(133 * -24px);}
.fs-i-bold							{background-position: 0 calc(134 * -24px);}
.fs-i-html							{background-position: 0 calc(135 * -24px);}
.fs-i-hyperlink				{background-position: 0 calc(136 * -24px);}
.fs-i-image						{background-position: 0 calc(137 * -24px);}
.fs-i-indent						{background-position: 0 calc(138 * -24px);}
.fs-i-insert-ordered-list		{background-position: 0 calc(139 * -24px);}
.fs-i-insert-unordered-list	{background-position: 0 calc(140 * -24px);}
.fs-i-italic						{background-position: 0 calc(141 * -24px);}
.fs-i-justify-center		{background-position: 0 calc(142 * -24px);}
.fs-i-justify-full			{background-position: 0 calc(143 * -24px);}
.fs-i-justify-left			{background-position: 0 calc(144 * -24px);}
.fs-i-justify-right		{background-position: 0 calc(145 * -24px);}
.fs-i-outdent					{background-position: 0 calc(146 * -24px);}
.fs-i-strikethrough		{background-position: 0 calc(147 * -24px);}
.fs-i-underline				{background-position: 0 calc(148 * -24px);}

/* ICONS Dateiablage */
.fs-i-cloud-upload 		{background-position: 0 calc(149 * -24px);}
.fs-i-file							{background-position: 0 calc(150 * -24px);}
.fs-i-file-archive			{background-position: 0 calc(151 * -24px);}
.fs-i-file-data				{background-position: 0 calc(152 * -24px);}
.fs-i-file-excel				{background-position: 0 calc(153 * -24px);}
.fs-i-file-movie				{background-position: 0 calc(154 * -24px);}
.fs-i-file-music				{background-position: 0 calc(155 * -24px);}
.fs-i-file-pdf					{background-position: 0 calc(156 * -24px);}
.fs-i-file-powerpoint	{background-position: 0 calc(157 * -24px);}
.fs-i-file-presentation			{background-position: 0 calc(158 * -24px);}
.fs-i-file-text				{background-position: 0 calc(159 * -24px);}
.fs-i-file-word				{background-position: 0 calc(160 * -24px);}
.fs-i-file-add					{background-position: 0 calc(161 * -24px);}
.fs-i-folder						{background-position: 0 calc(162 * -24px);}
.fs-i-folder-add				{background-position: 0 calc(163 * -24px);}
.fs-i-folder-locked		{background-position: 0 calc(164 * -24px);}
.fs-i-folder-received	{background-position: 0 calc(165 * -24px);}
.fs-i-folder-shared		{background-position: 0 calc(166 * -24px);}
.fs-i-folder-system		{background-position: 0 calc(167 * -24px);}
.fs-i-folder-upload		{background-position: 0 calc(168 * -24px);}

.fs-i-expand						{background-position: 0 calc(169 * -24px);}
.fs-i-expand-horiz			{background-position: 0 calc(170 * -24px);}
.fs-i-cloud 						{background-position: 0 calc(171 * -24px);}
.fs-i-file-image				{background-position: 0 calc(172 * -24px);}
.fs-i-hyperlink-remove	{background-position: 0 calc(173 * -24px);}
.fs-i-group-elements 	{background-position: 0 calc(174 * -24px);}
.fs-i-ungroup-elements	{background-position: 0 calc(175 * -24px);}

.fs-i-folder-filter						{background-position: 0 calc(176 * -24px);}
.fs-i-folder-filter-received		{background-position: 0 calc(177 * -24px);}
.fs-i-folder-filter-shared			{background-position: 0 calc(178 * -24px);}

.fs-i-restore-trash			{background-position: 0 calc(179 * -24px);}
