Balloon\Converter:
  calls:
    Balloon\Converter\Adapter\Office: null
Balloon\App\Markdown\Converter\Adapter\Markdown:
  arguments:
    officeConverter: '{Balloon\App\Office\Converter\Adapter\Office}'
Psr\Log\LoggerInterface:
  calls:
    file: null
